<div class="container">

  <h1>Reactive Form</h1>
  <div class="row">
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="submit()">


        <label for="">Firstname</label>
        <input type="text" formControlName="firstname">

        <label for="">lastname</label>
        <input type="text" formControlName="lastname">

        <br>
        <button type="submit">
          Submit
        </button>
      </form>

    </div>
  </div>


  <br>
  <br>
  <br>

  <h1>Template Form</h1>
  <div class="row">
    <div class="col">
      <form #tmpform="ngForm" (ngSubmit)="tmpsubmit(tmpform)">


        <label for="">Firstname</label>
        <input type="text" name="firstname" ngModel>

        <label for="">lastname</label>
        <input type="text" name="lastname" ngModel>

        <br>
        <button type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>


</div>